.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaForGeschaeftsart {
  grid-area: areaForGeschaeftsart;
  background-color: rgba(255, 174, 0, 0.2);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "areaVernehmlassungTitle"
    "fieldStatusVernehmlassung";
  grid-gap: 15px 8px;
  padding: 8px;
}

.areaVernehmlassungTitle {
  composes: areaTitle;
  grid-area: areaVernehmlassungTitle;
}

.fieldStatusVernehmlassung {
  grid-area: fieldStatusVernehmlassung;
}
