.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaHistory {
  grid-area: areaHistory;
  background-color: rgba(0, 46, 255, 0.12);
  display: grid;
  grid-template-columns: calc(100% - 156px) 70px 70px;
  grid-template-areas:
    "areaHistoryTitle labelVorgeschaeft fieldVorgeschaeft"
    "areaHistoryFieldsContainer areaHistoryFieldsContainer areaHistoryFieldsContainer";
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 8px;
}

.areaHistoryTitle {
  composes: areaTitle;
  grid-area: areaHistoryTitle;
}

.fieldVorgeschaeft {
  grid-area: fieldVorgeschaeft;
}

.labelVorgeschaeft {
  grid-area: labelVorgeschaeft;
  margin-top: 10px;
  text-align: right;
}

.areaHistoryFieldsContainer {
  grid-area: areaHistoryFieldsContainer;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 8px 0;
}

.areaHistoryFields {
  grid-column: 1;
  display: grid;
  grid-template-columns: 60px calc(100% - 60px);
  grid-gap: 0;
  border-bottom: thin solid #CECBCB;
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.areaHistoryFields:first-of-type {
  border-top: thin solid #CECBCB;
}

.areaHistoryFields:hover {
  background-color: rgba(0, 46, 255, 0.12);
}

.historyIdGeschaeft {
  grid-column: 1;
}

.historyGegenstand {
  grid-column: 2;
  font-weight: 700;
}
