.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaForGeschaeftsart {
  grid-area: areaForGeschaeftsart;
  background-color: rgba(255, 174, 0, 0.2);
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas:
    "areaRechtsmittelTitle areaRechtsmittelTitle"
    "fieldInstanz fieldInstanz"
    "fieldEntscheidNr fieldEntscheidDatum"
    "fieldErledigung fieldErledigung";
  grid-gap: 15px 8px;
  padding: 8px;
}

.areaRechtsmittelTitle {
  composes: areaTitle;
  grid-area: areaRechtsmittelTitle;
}

.fieldInstanz {
  grid-area: fieldInstanz;
}

.fieldEntscheidNr {
  grid-area: fieldEntscheidNr;
}

.fieldEntscheidDatum {
  grid-area: fieldEntscheidDatum;
}

.fieldErledigung {
  grid-area: fieldErledigung;
}


.datePicker {
  cursor: pointer;
}