.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaSubTitle {
  font-weight: 900;
  font-size: 12px;
  margin-top: 5px;
}

.labelHorizontal {
  margin-top: 11px;
  text-align: right;
}

.wrapperNarrow {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: auto;
  grid-template-areas:
    "areaNummern"
    "areaGeschaeft"
    "areaParlVorst"
    "areaFristen"
    "areaPersonen"
    "areaHistory"
    "areaZuletztMutiert";
}

.wrapperWide {
  display: grid;
  grid-template-columns: repeat(12, 8.33333%);
  grid-template-rows: auto;
  grid-template-areas:
    "areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaNummern areaNummern areaNummern areaNummern"
    "areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaParlVorst areaParlVorst areaParlVorst areaParlVorst"
    "areaFristen areaFristen areaFristen areaPersonen areaPersonen areaPersonen areaPersonen areaPersonen areaPersonen areaPersonen areaPersonen areaPersonen"
    "areaHistory areaHistory areaHistory areaHistory areaHistory areaHistory areaHistory areaHistory areaHistory areaHistory areaHistory areaHistory"
    "areaZuletztMutiert areaZuletztMutiert areaZuletztMutiert areaZuletztMutiert areaZuletztMutiert areaZuletztMutiert areaZuletztMutiert areaZuletztMutiert areaZuletztMutiert areaZuletztMutiert areaZuletztMutiert areaZuletztMutiert";
  grid-gap: 0;
}

.areaGeschaeft {
  grid-area: areaGeschaeft;
  background-color: rgba(255, 110, 7, 0.4);
  display: grid;
  grid-template-columns: repeat(12, 8.3333%);
  grid-template-rows: auto;
  grid-template-areas:
    "areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle"
    "fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand"
    "fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt"
    "fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldStatus fieldStatus fieldStatus fieldStatus fieldStatus fieldDirektion fieldDirektion"
    "fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails"
    "fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt"
    "fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk"
    "fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung";
  grid-gap: 5px 2px;
  padding: 8px;
}

.areaGeschaeftTitle {
  composes: areaTitle;
  grid-area: areaGeschaeftTitle;
}

.fieldGegenstand {
  grid-area: fieldGegenstand;
}

.fieldOrt {
  grid-area: fieldOrt;
}

.fieldGeschaeftsart {
  grid-area: fieldGeschaeftsart;
}

.fieldStatus {
  grid-area: fieldStatus;
}

.fieldDirektion {
  grid-area: fieldDirektion;
}

.fieldDetails {
  grid-area: fieldDetails;
}

.fieldNaechsterSchritt {
  grid-area: fieldNaechsterSchritt;
}

.fieldVermerk {
  grid-area: fieldVermerk;
}

.fieldErledigung {
  grid-area: fieldErledigung;
}


.areaNummern {
  grid-area: areaNummern;
  background-color: rgba(210, 210, 210, 0.2);
  display: grid;
  /* can't use 1fr for first column - does not work correctly, no idea why */
  grid-template-columns: calc(100% - 182px) 1px 90px 1px 90px;
  grid-template-rows: auto;
  grid-template-areas:
   "areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle labelNr"
   ". . labelIdGeschaeft . fieldIdGeschaeft"
   ". . labelGekoNr . fieldGekoNr"
   ". . . . labelJahre"
   "labelEntscheidAwel . fieldEntscheidAwelNr slashAwel fieldEntscheidAwelJahr"
   "labelEntscheidBdv . fieldEntscheidBdvNr slashBdv fieldEntscheidBdvJahr"
   "labelEntscheidKr . fieldEntscheidKrNr slashKr fieldEntscheidKrJahr"
   "labelEntscheidRrb . fieldEntscheidRrbNr slashRrb fieldEntscheidRrbJahr"
   "fieldAktenstandort fieldAktenstandort fieldAktenstandort . fieldAktennummer";
  grid-gap: 5px 2px;
  padding: 8px;
}

.label {
  color: #828282;
  font-size: 11px;
  font-weight: 500;
}

.labelJahre {
  composes: label;
  grid-area: labelJahre;
}

.labelNr {
  grid-area: labelNr;
  position: relative;
}

.labelNrDiv {
  position: absolute;
  top: 8px;
}

.slash {
  margin-top: 2px;
  font-size: 22px;
  color: #828282;
  margin-left: -3px;
}

.slashAwel {
  composes: slash;
  grid-area: slashAwel;
}

.slashBdv {
  composes: slash;
  grid-area: slashBdv;
}

.slashKr {
  composes: slash;
  grid-area: slashKr;
}

.slashRrb {
  composes: slash;
  grid-area: slashRrb;
}

.areaNummernTitle {
  composes: areaTitle;
  grid-area: areaNummernTitle;
}

.fieldIdGeschaeft {
  grid-area: fieldIdGeschaeft;
}

.labelIdGeschaeft {
  composes: labelHorizontal;
  grid-area: labelIdGeschaeft;
}

.inputIdGeschaeft {
  background: transparent !important;
}

.fieldGekoNr {
  grid-area: fieldGekoNr;
}

.labelGekoNr {
  composes: labelHorizontal;
  grid-area: labelGekoNr
}

.fieldEntscheidAwelNr {
  grid-area: fieldEntscheidAwelNr;
}

.labelEntscheidAwel {
  composes: labelHorizontal;
  grid-area: labelEntscheidAwel
}

.fieldEntscheidAwelJahr {
  grid-area: fieldEntscheidAwelJahr;
}

.fieldEntscheidBdvNr {
  grid-area: fieldEntscheidBdvNr;
}

.labelEntscheidBdv {
  composes: labelHorizontal;
  grid-area: labelEntscheidBdv
}

.fieldEntscheidBdvJahr {
  grid-area: fieldEntscheidBdvJahr;
}

.fieldEntscheidKrNr {
  grid-area: fieldEntscheidKrNr;
}

.labelEntscheidKr {
  composes: labelHorizontal;
  grid-area: labelEntscheidKr
}

.fieldEntscheidKrJahr {
  grid-area: fieldEntscheidKrJahr;
}

.fieldEntscheidRrbNr {
  grid-area: fieldEntscheidRrbNr;
}

.labelEntscheidRrb {
  composes: labelHorizontal;
  grid-area: labelEntscheidRrb
}

.fieldEntscheidRrbJahr {
  grid-area: fieldEntscheidRrbJahr;
}

.fieldAktenstandort {
  grid-area: fieldAktenstandort;
}

.fieldAktennummer {
  grid-area: fieldAktennummer;
}


.areaParlVorst {
  grid-area: areaParlVorst;
  background-color: rgba(255, 174, 0, 0.2);
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas:
    "areaParlVorstTitle areaParlVorstTitle"
    "fieldParlVorstossTyp fieldParlVorstossTyp"
    "fieldStufe fieldEbene"
    "fieldZustaendigkeit fieldErlassform";
  grid-gap: 15px 8px;
  padding: 8px;
}

.areaParlVorstTitle {
  composes: areaTitle;
  grid-area: areaParlVorstTitle;
}

.fieldParlVorstossTyp {
  grid-area: fieldParlVorstossTyp;
}

.fieldStufe {
  grid-area: fieldStufe;
}

.fieldEbene {
  grid-area: fieldEbene;
}

.fieldZustaendigkeit {
  grid-area: fieldZustaendigkeit;
}

.fieldErlassform {
  grid-area: fieldErlassform;
}


.areaFristen {
  grid-area: areaFristen;
  background-color: rgba(242, 255, 1, 0.2);
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2px;
  padding: 8px;
}

.areaFristenTitle {
  composes: areaTitle;
  grid-column: 1;
}

.fieldDatumEingangAwel {
  grid-column: 1;
}

.fieldFristAwel {
  grid-column: 1;
}

.fieldFristAmtschef {
  grid-column: 1;
}

.fieldFristAbteilung {
  grid-column: 1;
}

.fieldFristMitarbeiter {
  grid-column: 1;
}

.fieldFristDauerBisMitarbeiter {
  grid-column: 1;
  font-weight: 700;
  font-size: 14px;
}

.fieldDatumAusgangAwel {
  grid-column: 1;
}

.fieldFristDirektion {
  grid-column: 1;
}


.areaPersonen {
  grid-area: areaPersonen;
  background-color: rgba(208, 255, 202, 0.2);
  display: grid;
  grid-template-columns: 80px calc(100% - 80px);
  grid-gap: 10px 2px;
  padding: 8px;
}

.areaPersonenTitle {
  composes: areaTitle;
  grid-column: 1 / span 2;
}

.areaVerantwortlichSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 2;
}

.fieldVerantwortlich {
  grid-column: 1 / span 1;
}

.fieldVerantwortlichName {
  grid-column: 2 / span 1;
}

.areaInterneKontakteSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 2;
}

.areaExterneKontakteSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 2;
}

/* need monospace to line up text vertically */
.verantwDropdown {
  font-family: "Lucida Console", Monaco, monospace;
}




.datePicker {
  cursor: pointer;
}

.formControlStatic {
  padding-top: 4px;
}