.body {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px 5px;
}

.row {
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: 80px calc(100% - 100px) 20px;
  grid-gap: 10px;
}

.row:hover {
  background-color: rgba(208, 255, 202, 0.5);
}

.fV {
  grid-column: 1 / span 1;
}

.fVN {
  grid-column: 2 / span 1;
  overflow: hidden;
}

/**
 * prevent pushing of following kontakt
 * when text breaks to next line
 */
.fVN p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.deleteGlyphiconDiv {
  grid-column: 3 / span 1;
}

.removeGlyphicon {
  color: red;
  font-size: 18px;
  cursor: pointer;
  margin-top: 4px;
}

.kontaktSelect {
  background-color: #F9F9F9 !important;
}

/* need monospace to line up text vertically */
.dropdown {
  font-family: "Lucida Console", Monaco, monospace;
}