.table {
  /*position: absolute;*/
  top: 52px;
  width: 100%;
}

.tableHeader {
  border-bottom: 2px solid #717171;
  font-weight: 700;
}

.tableBody {
  overflow: auto;
  height: calc(100vh - 82px);
}

.tableHeaderRow,
.tableBodyRow {
  display: flex;
  padding: 5px;
  cursor: pointer;
}

.tableBodyRow {
  border-bottom: 1px solid #BBBBBB;
}

.tableHeaderRow {
  padding-top: 0;
  padding-bottom: 0;
}

.tableHeaderCell,
.tableBodyCell {
  flex: 1;
  padding: 5px;
}

.active {
  background-color: #FFBF73;
}

.body {
  background-image: linear-gradient(45deg, rgba(235, 255, 229, .5) 10%, rgba(216, 255, 200, .7));
  height: 100vh;
}

.fieldGegenstand {
  font-weight: 700;
}

.columnIdGeschaeft {
  min-width: 50px;
  max-width: 50px;
}

.columnGegenstand {
  width: 100%;
}

.columnStatus {
  min-width: 140px;
  max-width: 140px;
}

.columnKontaktIntern {
  min-width: 100px;
  max-width: 100px;
}
