.body {
  background-color: #eee;
  font-size: 9pt;
  cursor: default;
  /* 
   * need defined height and overflow
   * to make the pages scrollable in UI
   * is removed in print
   */
  overflow-y: auto;
  height: 100vh;
}

.pageContainer {
  /* Divide single pages with some space and center all pages horizontally */
  margin: 1cm auto;
  /* Define a white paper background that sticks out from the darker overall background */
  background: #fff;
  /* Show a drop shadow beneath each page */
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);

  /* enable placing footer absolute */
  position: relative;

  height: 29.7cm;
  width: 21cm;
  padding: 1.5cm;

  overflow-y: visible;
}

.footer {
  position: absolute;
  width: 17cm;
  /**
   * push down so it is never covered
   * by content
   */
  bottom: 1.8cm;
}

.footer p {
  position: relative;
  float: left;
  /* push down as far as possible */
  margin-bottom: 0;
}

/* When the document is actually printed */
@media print {
  .body {
    /* remove grey backgrond set for nice UI */
    background-color: #fff;
    /* with overflow auto an empty page is inserted between each page */
    overflow-y: visible;
    /* make sure body grows as needed */
    height: auto !important;
    /* try this */
    page-break-inside: avoid !important;
    page-break-before: avoid !important;
    page-break-after: avoid !important;
  }
  .pageContainer {
    /**
     * something seems to change the measurements
     * if they are not repeated here using important
     */
    height: 29.7cm !important;
    width: 21cm !important;
    margin: 0 !important;
    padding: 1.5cm !important;
    overflow-y: hidden !important;
    /* try this */
    page-break-inside: avoid !important;
    page-break-before: avoid !important;
    page-break-after: avoid !important;
  }
}
