.backButton {
  position: absolute;
  z-index: 1;
}

.grid {
  position: absolute;
  top: 52px;
  overflow: auto;
  height: calc(100vh - 52px);
  width: 100%;
}

.row {
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-color: #717171;
  border-bottom-style: solid;
  cursor: pointer;
}

/* 
 * hide the scrollbar:
 * because of virtual-list with variable height rows
 * it shows wrong position
 */
::-webkit-scrollbar { 
  display: none;
}
