.table {
  top: 52px;
  width: 100%;
}

.tableHeader {
  border-bottom: 2px solid #717171;
  font-weight: 700;
}

.tableBody {
  overflow: auto;
  height: calc(100vh - 82px);
}

.tableHeaderRow,
.tableBodyRow {
  display: flex;
  padding: 5px;
}

.tableBodyRow {
  border-bottom: 1px solid #BBBBBB;
  cursor: pointer;
}

.tableHeaderRow {
  padding-top: 0;
  padding-bottom: 0;
}

.tableHeaderCell,
.tableBodyCell {
  flex: 1;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.active {
  background-color: #FFBF73;
}

.body {
  background-image: linear-gradient(45deg, rgba(235, 255, 229, .5) 10%, rgba(216, 255, 200, .7));
  height: 100vh;
}

.fieldGegenstand {
  font-weight: 700;
}

.columnIdGeschaeft {
  composes: tableBodyCell;
  min-width: 45px;
  max-width: 45px;
}

.columnGegenstand {
  composes: tableBodyCell;
  width: 100%;
}

.columnStatus {
  composes: tableBodyCell;
  min-width: 120px;
  max-width: 120px;
}

.columnKontaktIntern {
  composes: tableBodyCell;
  min-width: 100px;
  max-width: 100px;
}

.fieldFristIn {
  font-weight: 900;
  letter-spacing: 0.15em;
  font-size: 14px;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
}

.fieldFristInUeberfaellig {
  composes: fieldFristIn;
  -webkit-text-stroke-color: red;
}

.fieldFristInHeute {
  composes: fieldFristIn;
  -webkit-text-stroke-color: yellow;
}
