.geschaeft {
  background-color: #FFE6E4;
}

.nr {
  background-color: #EAEAEA;
}

.parlVorstoss {
  background-color: #FFF1D8;
}

.idGeschaeft {
  font-weight: 900;
}

.gegenstand {
  font-weight: 900;
}

.bereichTitel {
  font-weight: 900;
  font-size: 16px;
}

.bereichTitelParlVorst {
  height: 68px;
}

.bereichTitelParlVorstP {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}
