.body {
  background-color: white !important;
  height: 100%;
  overflow-y: auto;
}

.body::-webkit-scrollbar { 
  display: none;
}

.bereichTitel {
  font-weight: 900;
  font-size: 16px;
}

.wrapperNarrow {
  composes: body;
  display: grid;
  grid-template-areas:
    "areaNummern areaNummern areaNummern areaNummern areaNummern areaNummern areaNummern areaNummern areaNummern areaNummern areaNummern areaNummern"
    "areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft"
    "areaParlVorst areaParlVorst areaParlVorst areaParlVorst areaParlVorst areaParlVorst areaParlVorst areaParlVorst areaParlVorst areaParlVorst areaParlVorst areaParlVorst";
}

.wrapperWide {
  composes: body;
  display: grid;
  grid-template-areas:
    "areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaNummern areaNummern areaNummern areaNummern areaNummern"
    "areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaParlVorst areaParlVorst areaParlVorst areaParlVorst areaParlVorst";
}

.areaGeschaeft {
  grid-area: areaGeschaeft;
  background-color: rgba(255, 110, 7, 0.4);
  display: grid;
  grid-template-areas:
    "areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle"
    "fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand"
    "fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt"
    "fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldStatus fieldStatus fieldStatus fieldVorgeschaeft fieldVorgeschaeft fieldDirektion fieldDirektion"
    "fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails"
    "fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt"
    "fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk"
    "fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung";
  grid-gap: 5px 0;
  padding: 8px;
}

.areaGeschaeftTitle {
  composes: bereichTitel;
  grid-area: areaGeschaeftTitle;
}

.fieldGegenstand {
  grid-area: fieldGegenstand;
}

.fieldOrt {
  grid-area: fieldOrt;
}

.fieldGeschaeftsart {
  grid-area: fieldGeschaeftsart;
}

.fieldStatus {
  grid-area: fieldStatus;
}

.fieldVorgeschaeft {
  grid-area: fieldVorgeschaeft;
}

.fieldDirektion {
  grid-area: fieldDirektion;
}

.fieldDetails {
  grid-area: fieldDetails;
}

.fieldNaechsterSchritt {
  grid-area: fieldNaechsterSchritt;
}

.fieldVermerk {
  grid-area: fieldVermerk;
}

.fieldErledigung {
  grid-area: fieldErledigung;
}


.areaNummern {
  grid-area: areaNummern;
  background-color: rgba(210, 210, 210, 0.2);
  display: grid;
  grid-template-areas:
   "areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle"
   ". . . . . . . . . . fieldIdGeschaeft fieldIdGeschaeft"
   "fieldEntscheidAwelNr fieldEntscheidAwelNr fieldEntscheidAwelNr fieldEntscheidAwelJahr fieldEntscheidAwelJahr fieldEntscheidAwelJahr fieldEntscheidBdvNr fieldEntscheidBdvNr fieldEntscheidBdvNr fieldEntscheidBdvJahr fieldEntscheidBdvJahr fieldEntscheidBdvJahr"
   "fieldEntscheidKrNr fieldEntscheidKrNr fieldEntscheidKrNr feildEntscheidKrJahr feildEntscheidKrJahr feildEntscheidKrJahr fieldEntscheidRrbNr fieldEntscheidRrbNr fieldEntscheidRrbNr fieldEntscheidRrbJahr fieldEntscheidRrbJahr fieldEntscheidRrbJahr"
   "fieldAktenstandort fieldAktenstandort fieldAktenstandort fieldAktenstandort fieldAktenstandort fieldAktenstandort fieldAktenstandort fieldAktenstandort fieldAktenstandort fieldAktennummer fieldAktennummer fieldAktennummer";
  grid-gap: 5px 0;
  padding: 8px;
}

.areaNummernTitle {
  composes: bereichTitel;
  grid-area: areaNummernTitle;
}

.fieldIdGeschaeft {
  grid-area: fieldIdGeschaeft;
}

.fieldEntscheidAwelNr {
  grid-area: fieldEntscheidAwelNr;
}

.fieldEntscheidAwelJahr {
  grid-area: fieldEntscheidAwelJahr;
}

.fieldEntscheidBdvNr {
  grid-area: fieldEntscheidBdvNr;
}

.fieldEntscheidBdvJahr {
  grid-area: fieldEntscheidBdvJahr;
}

.fieldEntscheidKrNr {
  grid-area: fieldEntscheidKrNr;
}

.feildEntscheidKrJahr {
  grid-area: feildEntscheidKrJahr;
}

.fieldEntscheidRrbNr {
  grid-area: fieldEntscheidRrbNr;
}

.fieldEntscheidRrbJahr {
  grid-area: fieldEntscheidRrbJahr;
}

.fieldAktenstandort {
  grid-area: fieldAktenstandort;
}

.fieldAktennummer {
  grid-area: fieldAktennummer;
}


.areaParlVorst {
  grid-area: areaParlVorst;
  background-color: rgba(255, 200, 0, 0.2);
  display: grid;
  grid-template-areas:
    "areaParlVorstTitle areaParlVorstTitle areaParlVorstTitle areaParlVorstTitle areaParlVorstTitle areaParlVorstTitle areaParlVorstTitle areaParlVorstTitle areaParlVorstTitle areaParlVorstTitle areaParlVorstTitle areaParlVorstTitle"
    "fieldParlVorstossTyp fieldParlVorstossTyp fieldParlVorstossTyp fieldParlVorstossTyp fieldParlVorstossTyp fieldParlVorstossTyp fieldParlVorstossTyp fieldParlVorstossTyp fieldParlVorstossTyp fieldParlVorstossTyp fieldParlVorstossTyp fieldParlVorstossTyp"
    "fieldStufe fieldStufe fieldStufe fieldEbene fieldEbene fieldEbene fieldZustaendigkeit fieldZustaendigkeit fieldZustaendigkeit fieldErlassform fieldErlassform fieldErlassform";
  grid-gap: 15px 8px;
  padding: 8px;
}

.areaParlVorstTitle {
  composes: bereichTitel;
  grid-area: areaParlVorstTitle;
}

.fieldParlVorstossTyp {
  grid-area: fieldParlVorstossTyp;
}

.fieldStufe {
  grid-area: fieldStufe;
}

.fieldEbene {
  grid-area: fieldEbene;
}

.fieldZustaendigkeit {
  grid-area: fieldZustaendigkeit;
}

.fieldErlassform {
  grid-area: fieldErlassform;
}