.body {
  background-color: white !important;
  height: 100%;
}

.wrapperNarrow {
  display: grid;
  grid-gap: 0px;
}

.wrapperWide {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 8.333333% 8.333333% 8.333333% 8.333333% 8.333333% 8.333333% 8.333333% 8.333333% 8.333333% 8.333333% 8.333333% 8.333333%;
}

.geschaeft {
  grid-column: 1 / 7;
  grid-row: 1 / 7;
  background-color: orange;
}

.nummern {
  grid-column: 8 / 12;
  grid-row: 1 / 4;
  background-color: #DADADA;
}

.parlVorst {
  grid-column: 8 / 12;
  grid-row: 5 / 7;
  background-color: rgba(255, 200, 0, 0.2);
}

.formGroup {
  margin-bottom: 2px;
}

.label {
  margin-bottom: 0;
}

.input {
  display: block !important;
}

.typeNr {
  width: 75px !important;
}

.fieldDirektion {
  width: 100px !important;
}

.fieldAktenstandort {
  width: calc(100% - 75px) !important;
}

.bereichTitel {
  font-weight: 900;
  font-size: 16px;
}