.body {
  background-color: white !important;
  height: 100%;
  overflow-y: auto;
}

.body::-webkit-scrollbar { 
  display: none;
}

.bereichTitel {
  font-weight: 900;
  font-size: 16px;
}

.wrapperNarrow {
  composes: body;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "areaNummern"
    "areaGeschaeft"
    "areaParlVorst"
    "areaFristen"
    "areaPersonen";
}

.wrapperWide {
  composes: body;
  display: grid;
  grid-template-columns: repeat(12, 0.08333333fr);
  grid-template-rows: auto;
  grid-template-areas:
    "areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaNummern areaNummern areaNummern areaNummern areaNummern"
    "areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaGeschaeft areaParlVorst areaParlVorst areaParlVorst areaParlVorst areaParlVorst"
    "areaFristen areaFristen areaFristen areaFristen areaPersonen areaPersonen areaPersonen areaPersonen areaPersonen areaPersonen areaPersonen areaPersonen";
}

.areaGeschaeft {
  grid-area: areaGeschaeft;
  background-color: rgba(255, 110, 7, 0.4);
  display: grid;
  grid-template-columns: repeat(12, 0.08333333fr);
  grid-template-rows: auto;
  grid-template-areas:
    "areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle"
    "fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand"
    "fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt"
    "fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldStatus fieldStatus fieldStatus fieldVorgeschaeft fieldVorgeschaeft fieldDirektion fieldDirektion"
    "fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails"
    "fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt"
    "fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk"
    "fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung fieldErledigung";
  grid-gap: 5px 0;
  padding: 8px;
}

.areaGeschaeftTitle {
  composes: bereichTitel;
  grid-area: areaGeschaeftTitle;
}

.fieldGegenstand {
  grid-area: fieldGegenstand;
}

.fieldOrt {
  grid-area: fieldOrt;
}

.fieldGeschaeftsart {
  grid-area: fieldGeschaeftsart;
}

.fieldStatus {
  grid-area: fieldStatus;
}

.fieldVorgeschaeft {
  grid-area: fieldVorgeschaeft;
}

.fieldDirektion {
  grid-area: fieldDirektion;
}

.fieldDetails {
  grid-area: fieldDetails;
}

.fieldNaechsterSchritt {
  grid-area: fieldNaechsterSchritt;
}

.fieldVermerk {
  grid-area: fieldVermerk;
}

.fieldErledigung {
  grid-area: fieldErledigung;
}


.areaNummern {
  grid-area: areaNummern;
  background-color: rgba(210, 210, 210, 0.2);
  display: grid;
  grid-template-columns: 0.3fr 5px 0.3fr 10px 0.3fr 5px 0.3fr;
  grid-template-rows: auto;
  grid-template-areas:
   "areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle areaNummernTitle"
   ". . . . fieldIdGeschaeft fieldIdGeschaeft fieldIdGeschaeft"
   "fieldEntscheidAwelNr slashAwel fieldEntscheidAwelJahr . fieldEntscheidBdvNr slashBdv fieldEntscheidBdvJahr"
   "fieldEntscheidKrNr slashKr fieldEntscheidKrJahr . fieldEntscheidRrbNr slashRrb fieldEntscheidRrbJahr"
   "fieldAktenstandort fieldAktenstandort fieldAktenstandort fieldAktenstandort fieldAktenstandort . fieldAktennummer";
  grid-gap: 5px 0;
  padding: 8px;
}

.slash {
  margin-top: 18px;
  font-size: 22px;
  color: #828282;
  margin-left: auto;
  margin-right: auto;
}

.slashAwel {
  composes: slash;
  grid-area: slashAwel;
}

.slashBdv {
  composes: slash;
  grid-area: slashBdv;
}

.slashKr {
  composes: slash;
  grid-area: slashKr;
}

.slashRrb {
  composes: slash;
  grid-area: slashRrb;
}

.areaNummernTitle {
  composes: bereichTitel;
  grid-area: areaNummernTitle;
}

.fieldIdGeschaeft {
  grid-area: fieldIdGeschaeft;
}

.fieldEntscheidAwelNr {
  grid-area: fieldEntscheidAwelNr;
}

.fieldEntscheidAwelJahr {
  grid-area: fieldEntscheidAwelJahr;
}

.fieldEntscheidBdvNr {
  grid-area: fieldEntscheidBdvNr;
}

.fieldEntscheidBdvJahr {
  grid-area: fieldEntscheidBdvJahr;
}

.fieldEntscheidKrNr {
  grid-area: fieldEntscheidKrNr;
}

.fieldEntscheidKrJahr {
  grid-area: fieldEntscheidKrJahr;
}

.fieldEntscheidRrbNr {
  grid-area: fieldEntscheidRrbNr;
}

.fieldEntscheidRrbJahr {
  grid-area: fieldEntscheidRrbJahr;
}

.fieldAktenstandort {
  grid-area: fieldAktenstandort;
}

.fieldAktennummer {
  grid-area: fieldAktennummer;
}


.areaParlVorst {
  grid-area: areaParlVorst;
  background-color: rgba(255, 174, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: auto;
  grid-template-areas:
    "areaParlVorstTitle areaParlVorstTitle"
    "fieldParlVorstossTyp fieldParlVorstossTyp"
    "fieldStufe fieldEbene"
    "fieldZustaendigkeit fieldErlassform";
  grid-gap: 15px 8px;
  padding: 8px;
}

.areaParlVorstTitle {
  composes: bereichTitel;
  grid-area: areaParlVorstTitle;
}

.fieldParlVorstossTyp {
  grid-area: fieldParlVorstossTyp;
}

.fieldStufe {
  grid-area: fieldStufe;
}

.fieldEbene {
  grid-area: fieldEbene;
}

.fieldZustaendigkeit {
  grid-area: fieldZustaendigkeit;
}

.fieldErlassform {
  grid-area: fieldErlassform;
}


.areaFristen {
  grid-area: areaFristen;
  background-color: rgba(242, 255, 1, 0.2);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
   "1"
   "2"
   "3"
   "4"
   "5"
   "6"
   "7"
   "8"
   "9";
  grid-gap: 5px 0;
  padding: 8px;
}

.fieldDatumEingangAwel {
  grid-area: 1;
}

.fieldFristAwel {
  grid-area: 2;
}

.fieldFristAmtschef {
  grid-area: 3;
}

.fieldFristAbteilung {
  grid-area: 4;
}

.fieldFristMitarbeiter {
  grid-area: 5;
}

.fieldFristDauerBisMitarbeiter {
  grid-area: 6;
}

.fieldDatumAusgangAwel {
  grid-area: 7;
}

.fieldFristDirektion {
  grid-area: 8;
}

.fieldMutationsdatum {
  grid-area: 9;
}


.areaPersonen {
  grid-area: areaPersonen;
  background-color: rgba(210, 210, 210, 0.2);
  display: grid;
  grid-template-columns: repeat(12, 0.0833333fr);
  grid-template-rows: auto;
  grid-template-areas:
   "1 1 1 1 1 1 1 1 1 1 1 1"
   "2 2 2 2 2 2 2 2 2 2 2 2"
   "3 3 3 3 3 3 3 3 3 3 3 3"
   "4 4 4 4 4 4 4 4 4 4 4 4"
   "5 5 5 5 5 5 5 5 5 5 5 5"
   "6 6 6 6 6 6 6 6 6 6 6 6"
   "7 7 7 7 7 7 7 7 7 7 7 7"
   "8 8 8 8 8 8 8 8 8 8 8 8"
   "9 9 9 9 9 9 9 9 9 9 9 9"
   "10 10 10 10 10 10 10 10 10 10 10 10";
  grid-gap: 5px 0;
  padding: 8px;
}