.body {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}

.rowfVDropdown {
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: 160px calc(100% - 160px);
  grid-gap: 4px;
  margin-top: 5px;
}

.fVDropdown {
  grid-column: 1 / span 1;
}

.row {
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: 130px calc(100% - 150px) 20px;
  grid-gap: 0px;
  border-bottom: thin solid #CECBCB;
  padding: 3px;
}

.row div {
  margin-top: 5px;
}

.row:first-of-type {
  border-top: thin solid #CECBCB;
}

.row:hover {
  background-color: rgba(208, 255, 202, 0.5);
}

.fV {
  grid-column: 1 / span 1;
}

.fVN {
  grid-column: 2 / span 1;
}

/**
 * prevent pushing of following kontakt
 * when text breaks to next line
 */
.fVN p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.deleteGlyphiconDiv {
  grid-column: 3 / span 1;
}

.removeGlyphicon {
  color: red;
  font-size: 18px;
  cursor: pointer;
}

.kontaktSelect {
  background-color: #F9F9F9 !important;
}