.badge {
  background-color: #007D08;
}

.badgeWithActiveFilter {
  background-color: #FF9416;
}

.filterInput {
  padding-right: 24px;
}

.filterInputActive {
  background-color: #FFBF73;
}

.filterInputRemoveIcon {
  cursor: pointer;
  right: 23px;
  top: 2px;
}