.body {
  display: block;
}

@media print {
  .body {
    display: none;
  }
}

.badge {
  color: white;
}

.badgeWithActiveFilter {
  color: #FF9416;
}

.filterInput {
  padding-right: 24px;
}

.filterInputActive {
  background-color: #FFBF73;
}

.filterInputRemoveIcon {
  cursor: pointer;
  right: 23px;
  top: 2px;
}

.navbar {
  margin-bottom: 0;
}