.body {
  /* Reset the document's margin values */
  margin: 0;
  /* Reset the document's padding values */
  padding: 0;
  /* Use a clean and well-readable base font */
  font: 10pt 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

  /* Use a non-white background color to make the content areas stick out from the full page box */
  background-color: #eee;
}

/* When the document is actually printed */
@media print {
  html, body, .body {
    /* Reset the document's background color */
    background-color: #fff;
  }
}

.pagesList {
  overflow-y: auto;
  height: calc(100vh - 52px)
}

.pageContainer {
  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

  /* Reflect the paper width in the screen rendering (must match size from @page rule) */
  width: 29.7cm;
  /* Reflect the paper height in the screen rendering (must match size from @page rule) */
  min-height: 21cm;
  max-height: 21cm;

  /* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
  padding: 2cm;
}

/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */
@page {
  /* You can only change the size, margins, orphans, widows and page breaks here */

  /* Paper size and page orientation */
  size: A4 landscape;

  /* Margin per single side of the page */
  margin-left: 2cm;
  margin-top: 2cm;
  margin-right: 2cm;
  margin-bottom: 2cm;
}

.h1 {
  cursor: pointer;
}
