.body {
  background-color: #eee;
  font-size: 9pt;
  overflow-y: auto;
  height: calc(100vh - 52px)
}

.pageContainer {
  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

  /* Divide single pages with some space and center all pages horizontally */
  margin: 1cm auto;
  /* Define a white paper background that sticks out from the darker overall background */
  background: #fff;
  /* Show a drop shadow beneath each page */
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
  /*need this so list does not flow outside padding*/
  overflow-y: auto;

  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

  /* Reflect the paper width in the screen rendering (must match size from @page rule) */
  width: 29.7cm;
  /* Reflect the paper height in the screen rendering (must match size from @page rule) */
  min-height: 21cm;
  max-height: 21cm;

  /* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
  padding: 2cm;
}

/* When the document is actually printed */
@media print {
  .body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fff;
  }
  html, body {
    margin: initial !important;
    padding: initial !important;
    min-width: 29.7cm !important;
    max-width: 29.7cm !important;
    min-height: 21cm !important;
    max-height: 21cm !important;
    border: initial !important;
    border-radius: initial !important;
    background: initial !important;
    box-shadow: initial !important;
  }

  .pageContainer {
    margin: 0 !important;
    padding: 2cm !important;
    /*page-break-after: always !important;*/
    overflow-y: hidden !important;
  }
}

.h1 {
  cursor: pointer;
}
