.body {
  max-height: 17cm;
}

.titleInput {
  margin-top: 16px;
  margin-bottom: 7px;
}

.tableHeader {
  border-bottom: 2px solid #717171;
  font-weight: 700;
}

.tableHeaderRow,
.tableBodyRow {
  display: flex;
  padding: 3px;
}

.tableBodyRow {
  border-bottom: 1px solid #BBBBBB;
}

.tableHeaderRow {
  padding-top: 0;
  padding-bottom: 0;
}

.tableHeaderCell,
.tableBodyCell {
  flex: 1;
  padding: 2px;
}

.fieldGegenstand {
  font-weight: 700;
}

.columnIdGeschaeft {
  min-width: 50px;
  max-width: 50px;
}

.columnGegenstand {
  width: 100%;
}

.columnStatus {
  min-width: 140px;
  max-width: 140px;
}

.columnKontaktIntern {
  min-width: 100px;
  max-width: 100px;
}

.footer {
  margin-top: 0.3cm;
}

.footer p {
  display: inline-block;
}

.footer p:last-of-type {
  float: right;
}
