.body {
  background-color: #eee;
  font-size: 9pt;
  cursor: default;
  /* 
   * need defined height to make the pages scrollable in UI
   * is removed in print
   */
  overflow-y: auto;
  /*height: 100%;*/
  height: 100vh;
  /*height: calc(100vh - 52px)*/
}

/* When the document is actually printed */
@media print {
  .body {
    /* remove grey backgrond set for nice UI */
    background-color: #fff;
    /* with overflow an empty page is inserted between each page */
    overflow-y: visible;
    /* necessary? */
    height: auto !important;
    /*margin-left: -1cm;
    margin-top: -1cm;*/
  }
}
