.grid {
  position: absolute;
  top: 52px;
  overflow: auto;
  height: calc(100vh - 52px);
  width: 100%;
}

.row {
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-color: #717171;
  border-bottom-style: solid;
  cursor: pointer;
}

.active {
  background-color: #FFBF73;
}

.body {
  background-color: white;
  height: 100vh;
}

.fieldGegenstand {
  font-weight: 700;
}
