html, body, .body {
  /* Reset the document's margin values */
  /*margin: 0;*/
  /* Reset the document's padding values */
  /*padding: 0;*/

  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

  /* Use a non-white background color to make the content areas stick out from the full page box */
  /*background-color: #eee;*/
}

.body {
  background-color: #eee;
  font-size: 9pt;
}

.pagesList {
  overflow-y: auto;
  height: calc(100vh - 52px)
}

.pageContainer {
  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

  /* Divide single pages with some space and center all pages horizontally */
  margin: 1cm auto;
  /* Define a white paper background that sticks out from the darker overall background */
  background: #fff;
  /* Show a drop shadow beneath each page */
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
  /*need this so list does not flow outside padding*/
  overflow-y: auto;

  /* Styles for better appearance on screens only -- are reset to defaults in print styles later */

  /* Reflect the paper width in the screen rendering (must match size from @page rule) */
  width: 29.7cm;
  /* Reflect the paper height in the screen rendering (must match size from @page rule) */
  min-height: 21cm;
  max-height: 21cm;

  /* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
  padding: 2cm;
}

/* When the document is actually printed */
@media print {
  /*.body {
    margin: 0 !important;
    padding: 0 !important;
  }*/
  body {/* Reset the document's background color */
    background-color: #fff;
    min-width: 29.7cm !important;
    max-width: 29.7cm !important;
    min-height: 21cm !important;
    max-height: 21cm !important;
    margin: initial !important;
    padding: 0 !important;
    border: initial !important;
    border-radius: initial !important;
    background: initial !important;
    box-shadow: initial !important;
    font-size: 9pt !important;
  }

  .pageContainer {
    margin: 2cm !important;
    padding: 2cm !important;
    page-break-after: always !important;
    overflow-y: hidden !important;
  }

  .pagesList {
    overflow-y: hidden !important;
    height: 100%;
  }
}

.h1 {
  cursor: pointer;
}
