.body {
  background-color: #eee;
  font-size: 9pt;
  cursor: default;
  /* 
   * need defined height to make the pages scrollable in UI
   * is removed in print
   */
  overflow-y: auto;
  height: calc(100vh - 52px)
}

.pageContainer {
  /* Divide single pages with some space and center all pages horizontally */
  margin: 1cm auto;
  /* Define a white paper background that sticks out from the darker overall background */
  background: #fff;
  /* Show a drop shadow beneath each page */
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);

  width: 29.7cm;
  height: 21cm;
  padding: 2cm;

  overflow-y: visible;
}

.pageContainerOverflow {
  /*
   * need overflow while building list
   * so list does not flow outside padding
   * is contained in seperate class so it can
   * only be added while building 
   */
  overflow-y: auto;
}

/* When the document is actually printed */
@media print {
  .body {
    /* remove grey backgrond set for nice UI */
    background-color: #fff;
    /* with overflow an empty page is inserted between each page */
    overflow-y: visible;
  }

  .pageContainer {
    margin: 0 !important;
    padding: 2cm !important;
    /*page-break-after: always !important;*/
    overflow-y: hidden !important;
  }
}
