.pageContainer {
  /* Divide single pages with some space and center all pages horizontally */
  margin: 1cm auto;
  /* Define a white paper background that sticks out from the darker overall background */
  background: #fff;
  /* Show a drop shadow beneath each page */
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);

  /* enable placing footer absolute */
  position: relative;

  width: 29.7cm;
  height: 21cm;
  padding: 2cm;

  overflow-y: visible;
}

.pageContainerOverflow {
  /*
   * need overflow while building list
   * so list does not flow outside padding
   * is contained in seperate class so it can
   * only be added while building 
   */
  overflow-y: auto;
}

.rowsContainer {
  max-height: 16.5cm
}

/* When the document is actually printed */
@media print {
  .pageContainer {
    /* something seems to change the measurements! */
    width: 29.7cm !important;
    height: 21cm !important;
    margin: 0 !important;
    padding: 2cm !important;
    overflow-y: hidden !important;
    /*page-break-after: always !important;*/
  }
}

.titleInput {
  margin-top: 3px;
  margin-bottom: 7px;
}

.tableHeader {
  border-bottom: 2px solid #717171;
  font-weight: 700;
}

.tableHeaderRow,
.tableBodyRow {
  display: flex;
  padding: 3px;
}

.tableBodyRow {
  border-bottom: 1px solid #BBBBBB;
}

.tableHeaderRow {
  padding-top: 0;
  padding-bottom: 0;
}

.tableHeaderCell,
.tableBodyCell {
  flex: 1;
  padding: 2px;
}

.fieldGegenstand {
  font-weight: 700;
}

.columnIdGeschaeft {
  min-width: 50px;
  max-width: 50px;
}

.columnGegenstand {
  width: calc(100% - 290px);
}

.columnStatus {
  min-width: 140px;
  max-width: 140px;
}

.columnKontaktIntern {
  min-width: 100px;
  max-width: 100px;
}

.footer {
  position: absolute;
  bottom: 2cm;
  width: 25.7cm;
}

.footer p {
  position: relative;
  float: left;
}

.footer p:last-of-type {
  position: relative;
  float: right;
}

.h1 {
  cursor: pointer;
  margin-top: 0;
}
