.body {
  background-image: linear-gradient(45deg, rgba(255, 236, 195, 0.5) 10%, rgba(255, 232, 147, 0.7));
  height: 100%;
  padding-top: 30px;
  overflow-y: auto;
}

.body::-webkit-scrollbar { 
  display: none;
}

form {
  /*margin-top: 30px;*/
  margin-left: 10px;
  margin-right: 11px;
}

.formGroup {
  padding-top: 3px;
  padding-bottom: 3px;
}