.pageContainer {
  /* Divide single pages with some space and center all pages horizontally */
  margin: 1cm auto;
  /* Define a white paper background that sticks out from the darker overall background */
  background: #fff;
  /* Show a drop shadow beneath each page */
  box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);

  /* enable placing footer absolute */
  position: relative;

  width: 29.7cm;
  height: 21cm;
  padding: 2cm;

  overflow-y: visible;
}

.pageContainerOverflow {
  /*
   * need overflow while building list
   * so list does not flow outside padding
   * is contained in seperate class so it can
   * only be added while building
   */
  overflow-y: auto;
}

.rowsContainer {
  max-height: 16.5cm;
}

/* When the document is actually printed */
@media print {
  .pageContainer {
    /**
     * something seems to change the measurements
     * if they are not repeated here using important
     */
    width: 29.7cm !important;
    height: 21cm !important;
    margin: 0 !important;
    padding: 2cm !important;
    overflow-y: hidden !important;
    /* no idea why this is not necessary: */
    /*page-break-after: always !important;
    page-break-inside: avoid !important;
    page-break-before: avoid !important;*/
  }
}

.titleInput {
  margin-top: 3px;
  margin-bottom: 7px;
}

.tableHeader {
  border-bottom: 2px solid #717171;
  font-weight: 700;
}

.footer {
  position: absolute;
  width: 25.7cm;
  /**
   * push down so it is never covered
   * by content
   */
  bottom: 1.8cm;
}

.footer p {
  position: relative;
  /* push down as far as possible */
  margin-bottom: 0;
}

.footer p {
  float: right;
}

.footer p:first-of-type {
  float: left;
}

.h1 {
  cursor: pointer;
  margin-top: 0;
}

.filterCriteria {
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 5px;
}

.sortCriteria {
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 5px;
}
