.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaSubTitle {
  font-weight: 900;
  font-size: 12px;
  margin-top: 5px;
}

.container {
  grid-area: areaPersonen;
  background-color: rgba(208, 255, 202, 0.2);
}

.areaPersonen {
  display: grid;
  grid-template-columns: 130px calc((100% - 10px) - 130px);
  grid-column-gap: 8px;
  grid-row-gap: 2px;
  padding: 8px;
  align-items: end;
}

.areaPersonenTitle {
  composes: areaTitle;
  grid-column: 1 / span 2;
}

.areaVerantwortlichSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 2;
}

.fieldVerantwortlich {
  grid-column: 1 / span 1;
}

.fieldVerantwortlichName {
  grid-column: 2 / span 1;
}

.areaInterneKontakteSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 2;
}

.areaExterneKontakteSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 2;
}

/* need monospace to line up text vertically */
.verantwDropdown {
  font-family: "Lucida Console", Monaco, monospace;
}

.narrowVerantwDropdown {
  composes: verantwDropdown;
  width: 80px;
}
