.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaHistory {
  grid-area: areaHistory;
  background-color: rgba(0, 46, 255, 0.12);
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2px;
  padding: 8px;
}

.areaHistoryTitle {
  composes: areaTitle;
  grid-column: 1;
}

.fieldVorgeschaeft {
  grid-column: 1;
  width: 80px;
}
