.sortSelector {
  width: 45px !important;
  margin-right: -1px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  padding-left: 6px;
  padding-right: 0;
}
