@import '../node_modules/golden-layout/src/css/goldenlayout-base.css';
@import '../node_modules/golden-layout/src/css/goldenlayout-dark-theme.css';

body {
  position: relative;
  overflow-y: hidden;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.navbar {
  border-radius: 0;
}

.control-label {
  color: #828282;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 2px;
}

.verticalRadioDiv .radio {
  margin-top: 0;
  margin-bottom: -2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

textarea {
  resize: vertical;
  overflow-y: scroll;
}

/* 
 * hide the scrollbar:
 * because of virtual-list with variable height rows
 * it shows wrong position
 */
.reactList::-webkit-scrollbar { 
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}