body {
  position: relative;
  overflow-y: hidden;
  font-family: Arial, Helvetica, Helvetica Neue;
}

p {
  font-size: 12px;
}

.navbar {
  border-radius: 0;
}

.control-label {
  color: #828282;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: -0;
}

.form-group {
  margin-bottom: 2px;
}