@import '../node_modules/golden-layout/src/css/goldenlayout-base.css';
@import '../node_modules/golden-layout/src/css/goldenlayout-light-theme.css';

body {
  position: relative;
  overflow-y: hidden;
  font-family: Arial, Helvetica, Helvetica Neue;
  font-size: 12px !important;
}

.navbar {
  border-radius: 0;
}

.control-label {
  color: #828282;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: -2px;
}

/* optimize spacing of vertical radios */
.control-label ~ .radio {
  margin-top: 7px;
}
.radio + .radio {
  margin-top: -8px;
}
/* make sure radio label is horizontally even with input */
.radio > label > input[type=radio] {
  margin-top: 2px;
}

.form-control {
  font-size: 12px;
}

.form-group {
  margin-bottom: 2px;
}

.verticalRadioDiv .radio {
  margin-top: 0;
  margin-bottom: -2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

textarea {
  resize: vertical;
  overflow-y: scroll;
}

/* 
 * hide the scrollbar:
 * because of virtual-list with variable height rows
 * it shows wrong position
 */
.reactList::-webkit-scrollbar,
.data-reactroot::-webkit-scrollbar { 
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.datePopupTopLeft .bootstrap-datetimepicker-widget {
  bottom: 40px;
  top: auto !important;
}

.bootstrap-datetimepicker-widget .day {
  cursor: default;
}

@media print {
  /**
   * make sure, html and body
   * have no margins, no padding,
   * grow and overflow as needed
   */
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    overflow: visible !important;
  }
}