.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaGeschaeft {
  grid-area: areaGeschaeft;
  background-color: rgba(255, 110, 7, 0.4);
  display: grid;
  grid-template-columns: repeat(12, calc((100% - 55px) / 12));
  grid-template-rows: auto;
  grid-template-areas:
    "areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle areaGeschaeftTitle"
    "fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand fieldGegenstand"
    "fieldAusloeser fieldAusloeser fieldAusloeser fieldAusloeser fieldAusloeser fieldAusloeser fieldAusloeser fieldAusloeser fieldAusloeser fieldAusloeser fieldAusloeser fieldAusloeser"
    "fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt fieldOrt"
    "fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldGeschaeftsart fieldStatus fieldStatus fieldStatus fieldStatus fieldStatus fieldDirektion fieldDirektion"
    "fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails fieldDetails"
    "fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt fieldNaechsterSchritt"
    "fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk fieldVermerk";
  grid-column-gap: 5px;
  grid-row-gap: 2px;
  padding: 8px;
}

.areaGeschaeftTitle {
  composes: areaTitle;
  grid-area: areaGeschaeftTitle;
}

.fieldGegenstand {
  grid-area: fieldGegenstand;
}

.fieldAusloeser {
  grid-area: fieldAusloeser;
}

.fieldOrt {
  grid-area: fieldOrt;
}

.fieldGeschaeftsart {
  grid-area: fieldGeschaeftsart;
}

.fieldStatus {
  grid-area: fieldStatus;
}

.fieldDirektion {
  grid-area: fieldDirektion;
}

.fieldDetails {
  grid-area: fieldDetails;
}

.fieldNaechsterSchritt {
  grid-area: fieldNaechsterSchritt;
}

.fieldVermerk {
  grid-area: fieldVermerk;
}
