.areaTitle {
  font-weight: 900;
  font-size: 16px;
}

.areaSubTitle {
  font-weight: 900;
  font-size: 12px;
  margin-top: 5px;
}

.container {
  grid-area: areaPersonen;
  border: 1px solid #CCC;
}

.areaPersonen {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 2px;
  padding: 8px;
  align-items: end;
}

.areaPersonenTitle {
  composes: areaTitle;
  grid-column: 1 / span 1;
}

.areaVerantwortlichSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 1;
}

.fieldVerantwortlich {
  grid-column: 1 / span 1;
  display: none;
}

.fieldVerantwortlichName {
  grid-column: 1 / span 1;
}

.areaInterneKontakteSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 1;
}

.areaExterneKontakteSubTitle {
  composes: areaSubTitle;
  grid-column: 1 / span 1;
}

/* need monospace to line up text vertically */
.verantwDropdown {
  grid-column: 1 / span 1;
  display: none;
}
