.body {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
}

.rowfVDropdown {
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: 40px 40px calc(100% - 160px) 60px 20px;
  grid-gap: 4px;
  margin-top: 5px;
}

.fVDropdown {
  display: none;
}

/* need monospace to line up text vertically */
.dropdown {
  font-family: "Lucida Console", Monaco, monospace;
}
