.body {
  display: block;
}

@media print {
  .body {
    display: none;
  }
}

.filterGroupContainer {
  padding-right: 10px;
}

.filterGroup {
  display: flex;
}

.active {
  color: #FF9416;
}

.active > a {
  color: #FF9416 !important;
}

.filterInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 186px !important;
}

.filterInputActive {
  background-color: #FFBF73;
}

.filterRemoveButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fieldFilterDropdown {
  border-radius: 0;
  min-width: 160px;
  font-weight: 700;
}

.navbar {
  margin-bottom: 0;
  -webkit-user-select: none;
}

.navbar a:not(.dropdown-header):not([role="menuitem"]) {
  font-size: 15px;
  font-weight: 700;
}

/**
 * in react-bootstrap the active
 * prop of NavDropdown does not work
 * see: https://github.com/react-bootstrap/react-bootstrap/issues/1878
 */
.navActive {
  background-color: #080808;
}

.navActive > a {
  color: #fff !important;
}

.filterCriteria {
  cursor: default !important;
  font-style: italic;
}
