.body {
  display: block;
}

@media print {
  .body {
    display: none;
  }
}

.badgeWithActiveFilter {
  color: #FF9416;
}

.filterInput {
  padding-right: 24px;
}

.filterInputActive {
  background-color: #FFBF73;
}

.filterInputRemoveIcon {
  cursor: pointer;
  right: 23px;
  top: 2px;
}

.navbar {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 700;
}

/**
 * in react-bootstrap the active
 * prop of NavDropdown does not work
 * see: https://github.com/react-bootstrap/react-bootstrap/issues/1878
 */
.navActive {
  background-color: #080808;
}

.navActive > a {
  color: #fff !important;
}